.logo{
  height:120px;
  width:460px;
  /*width:365px;
  height:75px;*/
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #f5e2d6;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    /*padding:10px 30px 10px 30px;
    margin:0px auto;
    background: #928d8b ;
    color:floralwhite;*/
    background-image: url("../images/justitia_preview_crop_wide.jpg");
    background-size: cover;
    height: 50vh;
    margin-top: 80px;
}

.jumbotron h1{
    color: #442511;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-nav > li > a, .navbar-brand {
    /*padding-top:50px !important;*/
    /*padding-bottom:90px !important;*/
    margin-bottom: 84px;
    /*height: 50px;*/
}

/*.navbar {min-height:30px !important;}

.navbar-toggle {
     padding: 0 0;
     margin-top: 7px;
     margin-bottom: 0;
}*/

.navbar-inverse {
     /*background: #373534;*/
     background: #442511;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #210f04;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #000000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #black;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.mainlist {
  margin-left: 30px;
  line-height: 160%;
  font-size: 14pt;
}

.team img{
  height: 200px;
  width: 200px;
}

.team h4{
  text-align: center;
}

.team .thumbnail {
    border: 0 none;
    box-shadow: none;
}

.carousel {
    background:#8f4f24;
    font-size: 14pt;
}
.carousel .item {
  height: 250px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
